html {
    background: #000;
}
* {
  box-sizing: border-box;
}
.gamebox {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.grid_is_mine {
    background-image: url("./assets/炸弹.svg");
    background-size: contain;
}

.grid {
    width: 26px;
    height: 26px;
    border: 1px solid #fff;
    box-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 2px #bc13fe, 0 0 2px #bc13fe, 0 0 2px #bc13fe, inset 0 0 0px #bc13fe;
    color: #fff;
    text-align: center;
    line-height: 24px;
    // box-shadow: 0.1px #fff;
    &::after {
      content: '';
      position: absolute;
      left: -1px;
      top: -1px;
      width: 26px;
      height: 26px;
      border: 1px solid #fff;
      box-sizing: border-box;
      z-index: 1;
    }
    &:hover {
    //   @include mine_grid_light;
      z-index: 3;
    }
  }

  p {
    color: #fff;
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 2px #bc13fe, 0 0 2px #bc13fe, 0 0 2px #bc13fe, inset 0 0 0px #bc13fe;
  }